<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.xiaoyaoyou.xmall.user.dao.UserMapper">
    <select id="queryByUid" resultType="io.xiaoyaoyou.xmall.common.entity.User">
        SELECT *
        FROM user
        WHERE uid = #{uid}
    </select>

    <select id="queryByMobile" resultType="io.xiaoyaoyou.xmall.common.entity.User">
        SELECT *
        FROM user
        WHERE mobile = #{mobile}
    </select>

    <insert id="insert" parameterType="io.xiaoyaoyou.xmall.common.entity.User">
        INSERT INTO user(type, username,pwd,mobile,create_time)
        VALUES (#{type}, #{username},#{pwd},#{mobile},now())
        <selectKey keyProperty="uid" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
</mapper>
